.issue-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.issue-list table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
    table-layout: fixed;
}

.issue-list thead th {
    background-color: white;
    color: #70728f;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

/* Files */
.issue-list tbody tr {
    background-color: #f9f9fb;
    border-radius: 8px;
}

.issue-list tbody tr td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.issue-list thead th:nth-child(1),
.issue-list tbody td:nth-child(1) { width: 10%; }

.issue-list thead th:nth-child(2),
.issue-list tbody td:nth-child(2) { width: 10%; }

.issue-list thead th:nth-child(3),
.issue-list tbody td:nth-child(3) { width: 10%; }

.issue-list thead th:nth-child(4) {
    text-align: center;
}
.issue-list tbody td:nth-child(4) {
    width: 20%;
    text-align: center;
    white-space: normal;
    word-break: break-word;
}

.issue-list thead th:nth-child(5),
.issue-list tbody td:nth-child(5) { width: 11%; }

.issue-list thead th:nth-child(6),
.issue-list tbody td:nth-child(6) { width: 11%; }

.issue-list thead th:nth-child(7),
.issue-list tbody td:nth-child(7) { width: 11%; }

.dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
}

.issue-list tbody tr td:nth-child(4) a.issue-link {
    text-decoration: none;
}

.issue-list tbody tr td:nth-child(4) a.issue-link:hover {
    text-decoration: none;
    color: black;
}

.text-primary {
    color: #0090ff;
}

.issue-link {
    color: #008aa8;
    text-decoration: none;
    font-weight: normal;
}

.issue-link:hover {
    text-decoration: none;
}

.issue-link:active {
    color: black;
}

.new-issue-button {
    background-color: #83eede;
    color: #2e3440;
    border-radius: 4px;
    border: 0;
    text-align: center;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all;
    font-size: .875rem;
    padding: 8px 12px;
}
.new-issue-button:hover {
    background-color: #228eaf;
    color: #ffffff;
}

.bulk-issue-button {
    background-color: #e0e0e0;
    color: #333;
    border-radius: 4px;
    border: 0;
    text-align: center;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all;
    font-size: .875rem;
    padding: 8px 12px;
}
.bulk-issue-button:hover {
    background-color: #d1d1d1;

}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100%;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #008aa8;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-bar button i {
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    width: 100%;
}

.header h1 {
    font-size: 28px;
    margin: 0;
    color: #008aa8;
}

.assign-avatars img {
    width: 27px;
    height: 27px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}